psycopg2>=2.6
redis>=2.9.1
python-dateutil>=2.2
elasticsearch>=1.2.0
pyproj>=1.9.3
pytz>=2014.4
requests>=2.3.0
pycrypto
flask
Flask-UUID
Flask-CORS
riak
coverage
numpy
scipy
gevent
unicodecsv
shapely
celery
boto
fiona
magic