[Unit]
Description="idb api-stats 15minute repeat"

[Timer]
OnBootSec=5min
OnUnitInactiveSec=15min
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target
