[Unit]
Description="Runs `idb collect-stats`"

[Service]
Type=oneshot
Environment=LANG=en_US.UTF-8
ExecStart=/opt/idb-backend/.env/bin/idb --journal -vv collect-stats
