[Unit]
Description="15minute timer for idb api-stats"

[Timer]
OnBootSec=5min
OnUnitInactiveSec=15min
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target
