[Unit]
Description="hourly timer for idb collect-stats"

[Timer]
OnBootSec=5min
OnUnitInactiveSec=1h
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target
