[Unit]
Description="idb collect-stats hourly repeat"

[Timer]
OnBootSec=5min
OnUnitInactiveSec=1h
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target
