[Unit]
Description="Runs the `idigbio-ingestion mediaing updatedb` daily task"

[Service]
Type=oneshot
Environment=LANG=en_US.UTF-8
User=idigbio-ingestion
SyslogIdentifier=idb-ingest-media-migrate
ExecStart=/usr/local/bin/idigbio-ingestion \
    --journal -vv mediaing migrate
