[Unit]
Description="Runs `idigbio-ingestion update-publisher-recordset`"

[Service]
Type=oneshot
Environment=LANG=en_US.UTF-8
ExecStart=/opt/idb-backend/.env/bin/idigbio-ingestion --journal -vv update-publisher-recordset
