[Unit]
Description="Timer for idigbio-ingestion derivatives"

[Timer]
OnBootSec=13min
OnUnitInactiveSec=1min
RandomizedDelaySec=15

[Install]
WantedBy=timers.target
