[Unit]
Description=iDigBio mediaing derivatives generation

[Service]
Type=oneshot
Environment=LANG=en_US.UTF-8
ExecStart=/usr/local/bin/idigbio-ingestion -v --journal derivatives --procs 3
