[Unit]
Description="Runs the `idigbio-ingestion mediaing updatedb` daily task"

[Service]
Type=oneshot
Environment=LANG=en_US.UTF-8
ExecStart=/usr/local/bin/idigbio-ingestion \
    --journal -vv \
    mediaing updatedb --daily
