[Unit]
Description="idigbio-ingestion update-publisher-recordset hourly repeat"

[Timer]
OnBootSec=6min
OnUnitInactiveSec=1h
RandomizedDelaySec=2m


[Install]
WantedBy=timers.target
