[Unit]
Description=iDigBio mediaing derivatives generation

[Service]
Type=oneshot
Environment=LANG=en_US.UTF-8
User=idigbio-ingestion
Group=idigbio-ingestion
Environment=IDB_STORAGE_HOST=s2.idigbio.org
PassEnvironment=IDB_STORAGE_HOST
WorkingDirectory=/home/idigbio-ingestion/work_dir
ExecStart=/home/idigbio-ingestion/idb-backend/venv/bin/idigbio-ingestion -v --journal derivatives --procs 2
