[Unit]
# I believe this is no longer needed.  We successfully ingested media without this service running.
# I could be wrong though.  - Dan

Description="Runs the `idigbio-ingestion mediaing updatedb` daily task"

[Service]
Type=oneshot
Environment=LANG=en_US.UTF-8
User=idigbio-ingestion
ExecStart=/usr/local/bin/idigbio-ingestion \
    --journal -vv \
    mediaing updatedb --daily
