[Unit]
Description="hourly timer for idigbio-ingestion update-publisher-recordset"

[Timer]
OnBootSec=6min
OnUnitInactiveSec=1h
RandomizedDelaySec=2m


[Install]
WantedBy=timers.target
