[Unit]
Description=iDigBio mediaing fetcher

[Service]
Type=simple
Environment=LANG=en_US.UTF-8
ExecStart=/usr/local/bin/idigbio-ingestion \
    -vv --logfile=mediaing-get-media.log --journal \
    mediaing get-media --continuous

RestartSec=5min
KillMode=control-group

[Install]
WantedBy=multi-user.target
